.btn {
  background-color: #d34836;
  color: #ffffff;
  padding: 10px;
  font-weight: 600;
  border: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;

  .span {
    margin-left: 10px;
  }
}