@import '../../sass/vars';

.container {
  display: flex;
  margin: 0 5px 0 30px;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  // width: 150px;
  height: 30px;
  border: 2px solid $color-orange;
  border-radius: 5px;
  cursor: pointer;
  color: $color-orange;

  .name {
    font-weight: 600;
    margin-right: 5px;
  }

  .divider {
    font-weight: 600;
    margin: 0 5px;
  }

  .itemCount {
    margin: 5px;
  }

  &:hover {
    background-color: $color-orange;
    color: white;
  }
}