.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  align-items: center;

  .image {
    height: 80px;
    width: 80px;

    margin-left: 100px;
  }

  .steps {
    height: 98px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    min-width: 300px;

    .cart {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: gray;
      width: 100px;
      height: 94px;

      .number {
        margin: 10px;
        height: 30px;
        width: 30px;
        align-self: center;
        border: 1px solid gray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .active {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: black;
      width: 100px;
      height: 94px;
      font-weight: 600;

      .number {
        margin: 10px;
        height: 30px;
        width: 30px;
        align-self: center;
        border: 2px solid black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
      }
    }
  }
}