@import '../../sass/vars';

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
  width: 300px;
  border: 1px solid $color-orange;
  color: $color-black;
  border-radius: 10px;

  .close {
    position: absolute;
    left: 100%;
    margin-left: 5px;
    top: 0;
    border: 2px solid $color-orange;
    border-radius: 50%;
    font-weight: 600;
    color: $color-orange;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: white;
      background: $color-orange;
    }
  }

  .orderSum {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
  }
}

.test {
  border: 1px solid red;
  background: hotpink;
}