@import '../../sass/vars';


.header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .profileContainer {
    border: 1px solid red;
  }

  .signup {
    border: 1px solid $color-orange;
    height: 30px;
    width: 140px;
    position: absolute;
    right: 160px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: $color-black;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: $color-orange;
    }
  }

  .login {
    border: 1px solid $color-orange;
    height: 30px;
    width: 100px;
    position: absolute;
    right: 30px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: $color-black;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: $color-orange;
    }
  }

  .active {
    border-bottom: 5px solid $color-orange;
  }

  .logoContainer {
    height: 100%;
    width: 70px;
    padding: 15px;

    .logo {
      height: 64px;
      width: 64px;
      position: absolute;
      top: 0;

    }
  }

  .options {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }

    .auth {
      margin: 0 15px;
      height: 30px;
      width: 120px;
      border: 1px solid $color-orange;
      border-radius: 15px;
      color: $color-orange;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}